---
import Layout from "../layouts/Layout.astro"
import facebook from "../assets/imgs/Facebook.svg"
import discord from "../assets/imgs/Discord.svg"
import instagram from "../assets/imgs/Instagram.svg"
import linkedin from "../assets/imgs/Linkedin.svg"
import x from "../assets/imgs/twitterX.svg"
import youtube from "../assets/imgs/Youtube.svg"
import logoStudevs from "../assets/imgs/logoStudevs.svg"
import { Image } from "astro:assets"
import txt from "../assets/imgs/text.svg"
---

<Layout title="Studevs">
  <div>
    <Image src={logoStudevs} id="logoStudevs" alt="" />
  </div>
  <div>
    <!-- <h1>Get to know us!</h1> -->
    <Image src={txt} id="txt" alt="" />
  </div>
  <div id="logos">
    <a
      href="https://l.instagram.com/?u=https%3A%2F%2Fdiscord.gg%2F2x6t2tPFUr&e=AT1iSZUimjjaOi4guw9mQ95V1cvAupiAGXjBnv-ctSY-JMd12wdyYzEprjdjne7w_yHYdRXWMZsVJOl_1R1C8iuaTpSXcRryF7mOZiw"
      class="container"
    >
      <Image src={discord} alt="" id="img1" />
      <p>Discord</p>
    </a>
    <a
      href="https://www.linkedin.com/company/studevs/?lipi=urn%3Ali%3Apage%3Ad_flagship3_pulse_read%3BmfqA1ajzQsWW7pr4Qr5eFA%3D%3D"
      class="container"
    >
      <Image src={linkedin} alt="" id="img2" />
      <p>LinkedIn</p>
    </a>
    <a href="https://www.instagram.com/studevs_official/" class="container">
      <Image src={instagram} alt="" id="img3" />
      <p>Instagram</p>
    </a>

    <a href="https://twitter.com/StuDevsOfficial" class="container">
      <Image src={x} alt="" id="img4" />
      <p>X</p>
    </a>

    <a href="https://www.youtube.com/@StuDevsOfficial" class="container">
      <Image src={youtube} alt="" id="img5" />
      <p>YouTube</p>
    </a>

    <a
      href="https://www.facebook.com/profile.php?id=100094110701290"
      class="container"
    >
      <Image src={facebook} alt="" id="img6" />
      <p>Facebook</p>
    </a>
  </div>
</Layout>
