---
import { Image } from "astro:assets"
import discord from "@/assets/images/Discord.svg"
import facebook from "@/assets/images/Facebook.svg"
import instagram from "@/assets/images/Instagram.svg"
import Layout from "@/layouts/Layout.astro"
import linkedin from "@/assets/images/Linkedin.svg"
import logoStudevs from "@/assets/images/logoStudevs.svg"
import twitch from "@/assets/images/TwitchGlitchWhite.svg"
import txt from "@/assets/images/text.svg"
import x from "@/assets/images/twitterX.svg"
import youtube from "@/assets/images/Youtube.svg"

const SOCIAL_LINKS = [
  {
    name: "Discord",
    img: discord,
    href: "https://l.instagram.com/?u=https%3A%2F%2Fdiscord.gg%2F2x6t2tPFUr&e=AT1iSZUimjjaOi4guw9mQ95V1cvAupiAGXjBnv-ctSY-JMd12wdyYzEprjdjne7w_yHYdRXWMZsVJOl_1R1C8iuaTpSXcRryF7mOZiw",
  },
  {
    name: "Instagram",
    img: instagram,
    href: "https://www.instagram.com/studevs_official/",
  },
  {
    name: "LinkedIn",
    img: linkedin,
    href: "https://www.linkedin.com/company/studevs/?lipi=urn%3Ali%3Apage%3Ad_flagship3_pulse_read%3BmfqA1ajzQsWW7pr4Qr5eFA%3D%3D",
  },
  {
    name: "Twitch",
    img: twitch,
    href: "https://www.twitch.tv/studevs",
  },
  {
    name: "Twitter",
    img: x,
    href: "https://twitter.com/StuDevsOfficial",
  },
  {
    name: "YouTube",
    img: youtube,
    href: "https://www.youtube.com/@StuDevsOfficial",
  },
  {
    name: "Facebook",
    img: facebook,
    href: "https://www.facebook.com/profile.php?id=100094110701290",
  },
]
---

<Layout title="Studevs">
  <div>
    <Image src={logoStudevs} id="logoStudevs" alt="Studevs Logo" />
  </div>
  <div>
    <!-- <h1>Get to know us!</h1> -->
    <Image
      src={txt}
      id="txt"
      alt="Get to know us! Click the icon to see our social media"
    />
  </div>
  <div id="logos">
    {
      SOCIAL_LINKS.map(({ name, img, href }) => {
        return (
          <a target="_blank" href={href} class="container">
            <Image src={img} alt={name} />
            <p>{name}</p>
          </a>
        )
      })
    }
  </div>
</Layout>
